nav{
    height: 48px;
    width: 100%;
    background-color: #262a42;
    margin-bottom: 20px;
    
    color: #fff;
}
nav .navTitle{
    display: flex;
    align-items: center;
    height: 48px;
}
nav .navTitle img{
    margin-right: 20px;
}
nav .navTitle h4{
    margin: 0;
}